.App {
  box-sizing: border-box;
}

nav {
  text-align: center;
  align-items: center;
  margin: 0 100px;
}

nav .left {
  float: left;
  margin-top: 30px;
}

nav .right {
  float: right;
  margin-top: 30px;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 25px;
  margin-top: 50px;
}

nav span {
  justify-content: space-evenly;
}

.card {
  text-align: center;
  margin: 20px;
}
.checkout {
  text-align: center;
  background-color: aliceblue;
}
.product-list {
  padding: 100px;
  background-color: aliceblue;
}

.product-box {
  font-size: 50px;
}

.purchase {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

.purchase h3 {
  font-size: 20px;
}
